.toggle-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 24px;
    width: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-right: 15px;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button .toggle-button__line {
    width: 24px;
    height: 2px;
    background: #1B1B1C;
}