.mobileMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    max-width: 400px;
    background: #f8f8f8;
    z-index: 20;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.header-logo {
  background: #F7C942;
}

.toolbar__item {
  /* background: rgba(247, 202, 66, 0.807); */
  border: 1px solid #d8d8d8;
}

.mobileMenu-ul .toolbar__item {
  background: transparent !important;
}

.mobileMenu-ul .toolbar__item label{
  font-weight: 400;
  font-size: 0.9rem;
  /* letter-spacing: .5px; */
}

.mobileMenu-ul .select-wrapper:hover {
  background: transparent !important;
}

.toolbar__item .select-wrapper {
  height: 35px !important;
}

.toolbar__item .select-wrapper ul {
  width: 100%;
  top: 36px !important;
}

.toolbar__item .select-wrapper ul li {
  font-size: 0.9rem;
}


.mobileMenu.open {
    transform: translateX(0);
}

.mobileMenu-ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 30px;
}

.mobileMenu-ul .headerNavItem__mobile {
    margin-bottom: 1rem;

}

.mobileMenu a {
    text-decoration: none;
    color: #1B1B1C;
    font-size: 1rem;
    font-weight: 400;
}

/* .mobilelink-active {
  color: #1B1B1C !important;
  font-weight: 700 !important;
} */

.mobilelink-active {
  position: relative;
  padding-left: 15px;
  font-weight: 600 !important;
}

.mobilelink-active::before {
  content: '';
  position: absolute;
  height: 100%;
  margin-right: 10px;
  width: 5px;
  background: #F7C942;
  left: 0;
}

.mobileLogo {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 20px;
}