.entryPage-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  margin-top: -55px;
}

.entryPage-groups-wrapper {
  margin-bottom: 1rem;
}

.entryPage-wrapper form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.entryPage-groups-wrapper div {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.entryPage-groups-wrapper div input {
  width: 1.5rem;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #4b5fd3;
  display: block;
  padding: .2rem .5rem;
  border: 2px solid #4b5fd3;
  border-radius: .5rem;
  background: transparent;
  cursor: pointer;
  text-align: center;
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  font-size: 1rem;
  background-color: #EC363A;
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
  }